In [5]:
# index가 같은 값을 tuple로 묶고 합 계산 후 list에 저장
# Enumerate & Zip
a_list = ['a1', 'a2', 'a3']
b_list = ['b1', 'b2', 'b3']
for i, (a, b) in enumerate(zip(a_list, b_list)):
    print(i, a, b)

0 a1 b1
1 a2 b2
2 a3 b3

In [6]:
dt_list = ['정당', '선거구']
dd_list = ['민주당', '서울은평구']
for data in zip(dt_list, dd_list):
    print(data)
    
# 근데 이 결과 자체가 왼쪽이 key, 오른쪽이 value인거랑 같잖아?

('정당', '민주당')
('선거구', '서울은평구')

In [7]:
data_dict = dict(zip(dt_list, dd_list))
print(data_dict)

{'정당': '민주당', '선거구': '서울은평구'}

In [8]:
import re

mystr = 'a\nb\rc\td'*3
print(mystr)

a
c	da
c	da
c	d

In [14]:
# 정규표현식 써서 처리해줍시다
# compile이라는 함수가 있어요 저런애들 처리 가능....

import re

mystr = 'a\nb\rc\td'*3

regex = re.compile(r'[\n\r\t]')
# regex # 이거 하면 re.compile(r'[\n\r\t]', re.UNICODE) 이렇게 나온다
result = regex.sub(' ', mystr)
result.strip()

'a b c da b c da b c d'

In [17]:
data_dict = {"a":[1, 2, 3], "b":[4, 5, 6], "c":[7, 8, 9]}

import pandas as pd

df = pd.DataFrame(data_dict)
df

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [22]:
df['d'] = [10, 11, 12]
df

   a  b  c   d
0  1  4  7  10
1  2  5  8  11
2  3  6  9  12

In [18]:
for idx, row in df.iterrows():
    print(idx, row)

0 a    1
b    4
c    7
Name: 0, dtype: int64
1 a    2
b    5
c    8
Name: 1, dtype: int64
2 a    3
b    6
c    9
Name: 2, dtype: int64

In [21]:
for idx, row in df.iterrows():
    print(idx, row['a'], row['b'])

0 1 4
1 2 5
2 3 6