In [1]:
import pandas as pd

In [2]:
example_df = pd.DataFrame(columns=['name', 'age', 'group', 'level', 'score'])
example_df['name'] = ['Ming', 'Bang', 'Hick', 'Gool', 'Sung', 'Jock']
example_df['age'] = [28, 31, 35, 33, 29, 32]
example_df['group'] = ['A', 'B', 'C', 'A', 'B', 'C']
example_df['level'] = [1, 2, 3, 4, 5, 6]
example_df['score'] = [98, 77, 86, 83, 69, 94]
example_df

   name  age group  level  score
0  Ming   28     A      1     98
1  Bang   31     B      2     77
2  Hick   35     C      3     86
3  Gool   33     A      4     83
4  Sung   29     B      5     69
5  Jock   32     C      6     94

In [3]:
import pymysql
import sqlalchemy
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
engine = create_engine("mysql+mysqldb://python:"+"python"+"@localhost/python_db", encoding='utf-8')
conn = engine.connect()
conn

In [4]:
example_df.to_sql(name='example', con=engine, if_exists='replace', index=True, index_label='id',\
                 dtype={'id': sqlalchemy.types.INTEGER(),
                       'name': sqlalchemy.types.VARCHAR(10),
                       'age': sqlalchemy.types.INTEGER(),
                       'group': sqlalchemy.types.VARCHAR(4),
                       'level': sqlalchemy.types.INT(),
                       'score': sqlalchemy.types.INTEGER()
                       })

In [5]:
example_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    6 non-null      object
 1   age     6 non-null      int64
 2   group   6 non-null      object
 3   level   6 non-null      int64
 4   score   6 non-null      int64
dtypes: int64(3), object(2)
memory usage: 368.0+ bytes