In [2]:
! pip show pymysql

Name: PyMySQL
Version: 0.10.0
Summary: Pure Python MySQL Driver
Home-page: https://github.com/PyMySQL/PyMySQL/
Author: yutaka.matsubara
Author-email: yutaka.matsubara@gmail.com
License: "MIT"
Location: c:\anaconda3\lib\site-packages
Requires:
Required-by:

In [14]:
sql = """
CREATE TABLE product (
id INT UNSIGNED NOT NULL AUTO_INCREMENT,
name VARCHAR(20) NOT NULL,
model_num VARCHAR(10) NOT NULL,
model_type VARCHAR(10) NOT NULL,
PRIMARY KEY(id)
);
"""

sql

'\nCREATE TABLE product (\nid INT UNSIGNED NOT NULL AUTO_INCREMENT,\nname VARCHAR(20) NOT NULL,\nmodel_num VARCHAR(10) NOT NULL,\nmodel_type VARCHAR(10) NOT NULL,\nPRIMARY KEY(id)\n);\n'

In [9]:
import pymysql

db = pymysql.connect(host='localhost', port=3306, db='python_db',\
                    user='python', passwd='python', charset='utf8')
cursor = db.cursor()
cursor.execute(sql)
db.commit()

In [12]:
cursor.execute('drop table product')
cursor.execute('show tables')

6

In [ ]:
import pymysql
db = pymysql.connect(host='localhost', port=3306, db='python_db',\
                    user='python', passwd='python', charset='utf8')

# try에서 아무것도 안해놓고 엔터치면 에러나니까 일단 finally: .close()해줘야한다고..?
# 그런말 언제했지 이거 모지 흐흑 내 뇌 용량의 한계인가
try:
    pass 
finally:
    db.close()

In [29]:
import pymysql
db = pymysql.connect(host='localhost', port=3306, db='python_db',\
                    user='python', passwd='python', charset='utf8')

try:
    with db.cursor() as cursor:
        cursor.execute(ins_sql)
        db.commit()
        
        for num in range(10, 20):
            name = 'S20' + str(num)
#             ins_sql = "insert into product (name, model_num, model_type)\
#             values(%s, %s, %s)" # insert sql 이라고....
#             cursor.execute(ins_sql, (name, '7700', 'Phone'))
            ins_sql = "insert into poroduct (name,mode_num, model_type) \
            values('')"
        db.comit()
        print(cursor.lastrowid)

finally:
    db.close()

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near '%s, %s, %s)' at line 1")

In [35]:
import pymysql

db = pymysql.connect(host='localhost', port=3306, db='python_db',\
                    user='python', passwd='python', charset='utf8')

try:
    # select, #update
    with db.cursor() as cursor:
        cursor.execute('select * from product where id=3')
        result = cursor.fetchone()
        
        upd_sql = "update product set model_type='%s' where name between 'S2020' and 'S2015'"
        cursor.excecute('select * from product')
        result_list = cursor.fetchall()
        for row in result_list:
            print(row[0], row[1], row[2], row[3])
            
#         model_type별로 gruop by 하는 쿼리 실행
        cursor.execute('select model_type, count(*) from product group by model_type')
        for row in cursor.fetchall():
            print(row)
    
finally:
    db.close()

AttributeError: 'Cursor' object has no attribute 'excecute'